<div class="navbar">
  <div class="homepage">
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon">
        <mat-icon>train</mat-icon>
      </button>
      <span>IRCTC Railway</span>
      <span class="example-spacer"></span>
    
      <img mat-card-image src="/assets/image/home.svg">
      <button mat-button routerLink="home" routerLinkActive="active">Home</button>
      
      <img mat-card-image src="/assets/image/search.svg">
      <button mat-button  routerLink="next"  routerLinkActive="active">Search</button>
    
      <img mat-card-image src="/assets/image/book.svg">
      <button mat-button  routerLink="next"  routerLinkActive="active">Book</button>
    
      <img mat-card-image src="/assets/image/person.svg">
      <button mat-button   routerLink="login"  routerLinkActive="active">Admin</button>



      <!--<img mat-card-image src="/assets/image/person.svg">
      <button mat-button   routerLink="register"  routerLinkActive="active">Register</button> -->
    
    </mat-toolbar>
    </div>  

    <div class="text">
      <br>
     <h1>“Best railway website,easy to book and travel,always passenger friendly”</h1>
    </div>
  </div>